@import "reset.css";
@import "sidebar.css";

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');


html {
  height: 100%;
  margin: 0;
  /*font-family: 'Arimo', sans-serif;*/
  font-family: 'Signika', sans-serif;
}

body {
  height: 100%;
  padding: 0px 200px;
  margin: 0;
  /*font-family: 'Arimo', sans-serif;*/
  font-family: 'Signika', sans-serif;
  background-color: #333;
}

main {
  z-index: 2;
  position: relative;
  height: 100%;
  /*background-color: #2D3142;
  background-color: #a6e8aa;*/
  background-color: white;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.index-intro__img {
  width: 250px;
  height: 250px;
  position: relative;
  left: -30px;
}

.index-intro {
    padding-top: 20%;
    padding-left: 10%;
}

.index-intro__text {
    font-family: 'Signika', sans-serif;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 3px;
    padding-top: 25px;
}